iip-agent-console/artifacts/mule/mule-app.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

  <!-- Generated from Intent + OAS -->
  <configuration-properties file="config.properties"/>

  <http:listener-config name="httpListener">
    <http:listener-connection host="${http.host}" port="${http.port}"/>
  </http:listener-config>

  <!-- Legacy call placeholder: can be TCP/HTTP/DB/MQ connector depending on target -->
  <flow name="account-inquiry-flow">
    <http:listener config-ref="httpListener" path="/accounts/{accountNo}" allowedMethods="GET"/>

    <!-- Input validation / normalization (mock) -->
    <set-variable variableName="accountNo" value="#[attributes.uriParams.accountNo]"/>
    <set-variable variableName="asOfDate" value="#[attributes.queryParams.asOfDate default null]"/>

    <!-- Legacy request build (placeholder) -->
    <ee:transform doc:name="Build Legacy Request">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  accountNo: vars.accountNo,
  asOfDate: vars.asOfDate,
  customerId: attributes.queryParams.customerId default null
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>

    <!-- TODO: replace with real connector call -->
    <logger level="INFO" message="Calling legacy system endpoint=${legacy.baseUrl} (placeholder) payload=#[payload]"/>

    <!-- Mock legacy response -->
    <set-payload><![CDATA[{
      "acct_no": "#[vars.accountNo]",
      "bal": 120000.25,
      "ccy": "KRW",
      "acct_status": "ACTIVE",
      "as_of": "2026-02-22"
    }]]></set-payload>

    <!-- Normalize response using DataWeave -->
    <ee:transform doc:name="Normalize Response (DataWeave)">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json
var src = payload
---
{
  accountNo: src.acct_no as String,
  balance: src.bal as Number,
  currency: src.ccy as String,
  status: upper(src.acct_status as String),
  asOfDate: src.as_of as String
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>

  </flow>
</mule>